a{
  width: 15%;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &:hover{
    color:#AC7145 ;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}